{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static "../static/css/static.css" %}">
{% endblock links %}

{% block detal %}
    <div class="container">
        <div class="smeagl">
            <h2 class='smeagl-h2'>SMEAG Global Education</h2>
            <h1 class='smeagl-h1'>Общий английский (Speaking Master course)</h1>
            <div class="smeagl-block">
                <h3>Общее количество часов в неделю</h3>
                <h3>0 часов</h3>
            </div>
            <div class="smeagl-block">
                <h3>Количество индивидуальных занятий (в день)</h3>
                <h3>4 часа</h3>
            </div>
            <div class="smeagl-block">
                <h3>Количество групповых занятий в день</h3>
                <h3>2 часа</h3>
            </div>
            <div class="smeagl-btn">
                Бесплатная консультация
            </div>
        </div>
    </div>
    <div class="container">
        <table>
            <tr>
            <h1 class='table-h1 flex items-center justify-center'>Стоимость</h1>

                <td class='bg-[#4C97F033]'>(до 12 недель)</td>
                <td class='bg-[#4C97F033]'>1 неделя</td>
                <td class='bg-[#4C97F033]'>2 неделя</td>
                <td class='bg-[#4C97F033]'>3 неделя</td>
                <td class='bg-[#4C97F033]'>4 неделя</td>
                <td class='bg-[#4C97F033]'>5 неделя</td>
                <td class='bg-[#4C97F033]'>6 неделя</td>
                <td class='bg-[#4C97F033]'>7 неделя</td>
                <td class='bg-[#4C97F033]'>8 неделя</td>
                <td class='bg-[#4C97F033]'>9 неделя</td>
            </tr>

            <tr>
                <td>Без проживания</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>1 мест.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>2 мест.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>3 мест.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>4 мест.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>5 мест.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="container">
        <div class="sbory">
            <h1 class='sbory-h1'>Дополнительные сборы</h1>
            <div class="sbory-title">
                <h1>Наименование</h1>
                <h1>Сумма</h1>
            </div>
            <div class="smeagl-block">
                <h3>Регистрационный взнос (единоразово)</h3>
                <h3>100$</h3>
            </div>
            <div class="smeagl-block">
                <h3>SSP  (единоразово)</h3>
                <h3>700 PHP</h3>
            </div>
            <div class="smeagl-block">
                <h3>Учебные материалы (единоразово)</h3>
                <h3>2000 PHP*</h3>
            </div>
            <div class="smeagl-block">
                <h3>Встреча в аэропорту</h3>
                <h3>1000 PHP**</h3>
            </div>
            <div class="smeagl-block">
                <h3>Студенческий ID</h3>
                <h3>200 PHP</h3>
            </div>
            <div class="smeagl-block">
                <h3>если названия поля нет то его не видно на сайте</h3>
                <h3>200 PHP</h3>
            </div>
            <div class="smeagl-block">
                <h3>виза</h3>
                <h3>рассчитывается отдельно</h3>
            </div>
            <h3>*в зависимости от курса</h3>
            <h3>*в будние дни</h3>

        </div>
    </div>

{% endblock detal %}
