{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static "..\static\css\components\application.css" %}">
{% endblock links %}

<div class="container">
    <div class="application-back">
        <div class="application-info-flex">
            <div class="application-man">
                <img src="{% static "../static\img\IMG_7718__1_-removebg-preview 1.png" %}" alt="">
            </div>
            <div class="application-info">
                <div class="application-send-info">
                    <div class="application-info-h1">
                        <h1>Подберу школу 
                            <br>под <span>ваш бюджет</span></h1>
                    </div>
                    <div class="application-read-info2">
                        <h3>Мы подбираем школу, учитывая ваши задачи, срок обучения, стоимость и текущие акции школ.</h3>
                    </div>
                    <div>
                        <button class="application-send-btn">
                            Оставить заявку
                        </button>
                    </div>
                    <div class="massage-for-me">
                        <h2>Спрашивайте,<br>
                            отвечаю онлайн</h2>
                            <div class="massage-for-me-img">
                                <img src="{% static 'img/socials.svg' %}"     alt="" >
                                <img src="{% static 'img/socials (1).svg' %}" alt="" >  
                            </div>
                    </div>
                </div>
                <div class="application-man2">
                    <img src="{% static "../static\img\IMG_7718__1_-removebg-preview 1.png" %}" alt="">
                </div>
                

                <div class="application-read-info">
                    <h3>Подберу школу, учитывая ваши задачи, <br> срок обучения, цену и текущие акции. </h3>
                </div>
            </div>
        </div>
    </div>
</div>