
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static "../static\css\body.css" %}">
{% endblock links %}

<div class="container">
    <div class="hot-h1-and-all-apps">
        <div class="hot-h1">
            <h1>Горящие предложения</h1><img class='fire' src="{% static "..\static\img\Fire Flame 1.png" %}" alt="">
        </div>
        <div class="all-apps">
            <a href="">Все предложения</a>
        </div>
    </div>

    <div class="hot-cards-all">
        <div class="hot-cards">
            <div class="hot-card-img">
                <img src="{% static "../static\img\Rectangle 18.png" %}" alt="">
            </div>
            <div class="hot-card-h1">
                <h1>Полезная информация</h1>
            </div>
            <div class="hot-card-p">
                <h3>Our advice on the importance of skills in today’s job market. Read articles about this theme and lea comments.</h3>
            </div>
            <div class="hot-card-button">
                Подробнее
            </div>
        </div>
        <div class="hot-cards">
            <div class="hot-card-img">
                <img src="{% static "../static\img\Rectangle 18.png" %}" alt="">
            </div>
            <div class="hot-card-h1">
                <h1>Полезная информация</h1>
            </div>
            <div class="hot-card-p">
                <h3>Our advice on the importance of skills in today’s job market. Read articles about this theme and lea comments.</h3>
            </div>
            <div class="hot-card-button">
                Подробнее
            </div>
        </div>
        <div class="hot-cards">
            <div class="hot-card-img">
                <img src="{% static "../static\img\Rectangle 18.png" %}" alt="">
            </div>
            <div class="hot-card-h1">
                <h1>Полезная информация</h1>
            </div>
            <div class="hot-card-p">
                <h3>Our advice on the importance of skills in today’s job market. Read articles about this theme and lea comments.</h3>
            </div>
            <div class="hot-card-button">
                Подробнее
            </div>
        </div>
    </div>

</div>